<style>
    .admin-schedule-info { list-style: none; margin: 0; padding: 0;}
    .admin-schedule-info li { font-weight: bold; }
    .admin-schedule-info li span { font-weight: normal; }

    .admin-schedule-title { margin: 25px 0 15px 0;}
    .admin-schedule-info-review { display: block; width: 450px; height: 150px; margin-bottom: 15px;}
</style>
<div class="container text-left">
    <div class="row search-row animated fadeInUp">
        <div class="col-md-12">
            <h2 class="title">Detalii pentru rezervarea #09879</h2>
            <div>
                <ul class="admin-schedule-info">
                    <li>Numar rezervare: <span>09879</span></li>
                    <li>Incepe la: <span>10:25 am</span></li>
                    <li>Se termina la: <span>10:30 am</span></li>
                </ul>
            </div>

            <h3 class="admin-schedule-title">Status programare/contribuabil</h3>
            <div>
                <textarea class="admin-schedule-info-review" placeholder="Informatii contribuabil"></textarea>
                <button type="button" class="btn btn-primary">Programare ok</button>
                <button type="button" class="btn btn-danger">Nu a venit la programare</button>
            </div>

        </div>
    </div>
</div>
