<style>
    .admin-schedule-list { width: 100%; border:none;}
    .admin-schedule-list th { border-bottom:2px solid #000; font-size: 14px;}
    .admin-schedule-list td { padding:10px 0; }
    .admin-schedule-list tr { border-bottom:1px solid #000; }
    .admin-schedule-list fa { margin-right: 5px; }
</style>
<div class="container text-left">
    <div class="row search-row animated fadeInUp">
        <div class="col-md-9">
            <h2 class="title">Programările de azi</h2>
            <div>
                <table class="admin-schedule-list">
                    <tr>
                        <th>Cod Rezervare</th>
                        <th>Incepe la</th>
                        <th>Se termin la</th>
                        <th>Detalii</th>
                    </tr>
                    <tr>
                        <td>09879</td>
                        <td>10:25 am</td>
                        <td>10:30 am</td>
                        <!-- TODO: Add APP LOGIN -->
                        <td><a class="btn btn-primary" ui-sref="common.adminsingle"><i class="fa fa-pencil-square-o" aria-hidden="true" title="View Details"></i>Vezi rezervarea</a></td>
                    </tr>
                    <tr>
                        <td>23123</td>
                        <td>10:30 am</td>
                        <td>10:40 am</td>
                        <!-- TODO: Add APP LOGIN -->
                        <td><a class="btn btn-primary" ui-sref="common.adminsingle"><i class="fa fa-pencil-square-o" aria-hidden="true" title="View Details"></i>Vezi rezervarea</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
