<div class="ibox-tools dropdown ng-hide" ng-show="true" dropdown>
    <a ng-click="showhide($event)" class="toggleCollapse" ng-show="enableCollapse"> <i class="fa fa-chevron-up"></i></a>
    <!--
    <a class="dropdown-toggle" href dropdown-toggle>
        <i class="fa fa-wrench"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a href>{{ 'common.ibox_tools|Config option 1' | translate }}</a>
        </li>
        <li><a href>{{ 'common.ibox_tools|Config option 2' | translate }}</a>
        </li>
    </ul>
    -->
    <!--<a ng-click="closebox()" ng-show="enableClose"><i class="fa fa-times"></i></a>-->
</div>