<div class="middle-box text-center animated fadeInDown ng-hide" ng-show="true" ng-controller="CommonLoadingController as common_loading">
    <div>
        <h1 class="logo-name">{{ CONFIG.logoName }}</h1>
    </div>

    <div class="sk-spinner sk-spinner-double-bounce">
        <div class="sk-double-bounce1"></div>
        <div class="sk-double-bounce2"></div>
    </div>

    <div>
        <h3>{{ 'common.loading|Loading' | translate }}</h3>
        <p class="text-center" ng-show="showTheDashboardLink"><a ui-sref="dashboard">{{ 'common.loading|Go to dashboard...' | translate }}</a></p>
    </div>
</div>