<div class="container">
    <h1 class="title">Programează-ți acum o vizită la ghișeu</h1>
    <p>Completați detaliile de contact. Vă vom trimite un SMS cu detaliile programării</p>
    <div class="row search-row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <input type="tel" class="form-control" ng-model="data.mobile" required placeholder="{{ 'reservation|Telefon mobil' | translate }}*" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="data.name" required placeholder="{{ 'reservation|Nume' | translate }}*" />
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="{{ 'reservation|Detalii' | translate }}" ng-model="data.details"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row center">
    <a ui-sref="common.reservation.step({step: '3'})" class="btn btn-primary">{{ 'common.reservations|Pasul anterior' | translate }}</a>
    <!--<a ui-sref="common.reservation.step({step: '5'})" class="btn btn-primary" ng-show="step5Enabled">{{ 'common.reservations|Următor' | translate }}</a>-->
    <a ng-click="bookReservation()" class="btn btn-primary" ng-show="reservationEnabled">{{ 'common.reservations|Creează programarea' | translate }}</a>
</div>
