<div class="container">
    <h1 class="title">Programează-ți acum o vizită la ghișeu</h1>
    <p>Selectați data la care doriți să faceți programarea dintre cele pentru care sunt programări disponibile</p>
    <div class="row search-row">
        <input type="text" class="form-control" date-time ng-model="data.date" force-open="true" prevent-close="true" hide-input="true" auto-close="false" format="{{ $root.CONFIG.dateTimeFormats.shortDateFormat }}" min-date="minDate" view="date" min-view="date" auto-close="true" />
    </div>
</div>
<div class="row center">
    <a ui-sref="common.reservation" class="btn btn-primary">{{ 'common.reservations|Pasul anterior' | translate }}</a>
    <a ui-sref="common.reservation.step({step: '3'})" class="btn btn-primary" ng-show="step3Enabled">{{ 'common.reservations|Pasul următor' | translate }}</a>
</div>
