<div class="container">
    <h1 class="title">Programeaza-ti acum o vizita la ghiseu.</h1>
    <div class="row search-row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label class="sr-only">Nume</label>
                <input type="text" class="form-control" name="nume" required placeholder="Nume" />
            </div>
            <div class="form-group">
                <label class="sr-only">Telefon</label>
                <input type="tel" class="form-control" name="telefon" required placeholder="Telefon" />
            </div>
            <div class="form-group">
                <label class="sr-only">Detalii</label>
                <textarea class="form-control" rows="3" required placeholder="Detalii"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row center">
    <a ui-sref="common.reservation.step({step: '3'})" class="btn btn-primary">{{ 'common.reservations|Anterior' | translate }}</a>
    <a ui-sref="common.reservation.step({step: '5'})" class="btn btn-primary" ng-show="step5Enabled">{{ 'common.reservations|Urmator' | translate }}</a>
</div>
