<div class="container">
    <h1 class="title">Programează-ți acum o vizită la ghișeu</h1>
    <p>Selectați Județul, Agenția și Serviciul de care aveți nevoie</p>

    <div class="row search-row">
        <div class="col-lg-4 col-sm-4 search-col relative locationicon">
            <ui-select ng-model="data.county"  on-select="refreshAgencies('')">
                <ui-select-match placeholder="{{ 'reservation.step1|Județ' | translate }}">
                    {{ $select.selected && $select.selected.id ? '' : 'reservation.step1|Județ' | translate }}{{ $select.selected && $select.selected.id ? $select.selected.name : '' }}
                </ui-select-match>
                <ui-select-choices repeat="option in counties" refresh="refreshCounties($select.search)" refresh-delay="250">
                    <div title="{{ option.name }}">{{ option.name }}</div>
                </ui-select-choices>
            </ui-select>
            <!--<i class="glyphicon glyphicon-pushpin icon-append"></i>-->
            <!--<input type="text" name="region" class="form-control locinput input-rel searchtag-input has-icon" placeholder="Judet">-->
        </div>
        <div class="col-lg-4 col-sm-4 search-col relative">
            <ui-select ng-model="data.agency"  on-select="refreshServices('')">
                <ui-select-match placeholder="{{ 'reservation.step1|Agenție' | translate }}">
                    {{ $select.selected && $select.selected.id ? '' : 'reservation.step1|Agenție' | translate }}{{ $select.selected && $select.selected.id ? $select.selected.name : '' }}
                </ui-select-match>
                <ui-select-choices repeat="option in agencies" refresh="refreshAgencies($select.search)" refresh-delay="250">
                    <div title="{{ option.name }}">{{ option.name }}</div>
                </ui-select-choices>
            </ui-select>
            <!--<i class="glyphicon glyphicon-home icon-append"></i>-->
            <!--<input type="text" name="institution" class="form-control has-icon" placeholder="Institutie">-->
        </div>
        <div class="col-lg-4 col-sm-4 search-col relative">
            <ui-select ng-model="data.service"  on-select="refreshSlots()">
                <ui-select-match placeholder="{{ 'reservation.step1|Serviciu' | translate }}">
                    {{ $select.selected && $select.selected.id ? '' : 'reservation.step1|Serviciu' | translate }}{{ $select.selected && $select.selected.id ? $select.selected.name : '' }}
                </ui-select-match>
                <ui-select-choices repeat="option in services" refresh="refreshServices($select.search)" refresh-delay="250">
                    <div title="{{ option.name }}">{{ option.name }}</div>
                </ui-select-choices>
            </ui-select>
            <!--<i class="glyphicon glyphicon-tasks icon-append"></i>-->
            <!--<input type="text" name="service" class="form-control has-icon" placeholder="Serviciu">-->
        </div>
    </div>
</div>
<div class="row center">
    <a ui-sref="common.reservation.step({step: '2'})" class="btn btn-primary" ng-show="step2Enabled">{{ 'common.reservations|Pasul următor' | translate }}</a>
</div>
