<div class="container">
    <h1 class="title">Te rog, confirmă-ţi rezervarea</h1>
    <div class="row search-row">
        <input type="text" ng-model="data.validationCode" value="" placeholder="{{ 'reservation.step5|CodValidare' | translate }}" />
    </div>
</div>
<div class="row center">
    &nbsp;
</div>
<div class="row center">
    <a ui-sref="common.reservation.step({step: '4'})" class="btn btn-primary">{{ 'common.reservations|Pasul anterior' | translate }}</a>
    <a ng-click="bookReservation()" class="btn btn-primary" ng-show="reservationEnabled">{{ 'common.reservations|Creează rezervare' | translate }}</a>
</div>
